@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tabelatransparent: #00000041;
    --colorRes: #2323236f;
    --colornum: linear-gradient(-125deg, rgba(0, 0, 0, 0), rgb(204, 95, 0));
}

body{  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 150vh;
    
    background: linear-gradient(45deg, rgb(26, 25, 25), rgb(219, 110, 14));
    background-repeat: no-repeat;
}
h1{
    margin: 10px 0;

    text-align: center;
    font-family: "Montserrat";
    font-size: 2em;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    max-width: 50vw; 
    min-width: 300px;
}
.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    background: var(--tabelatransparent);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0 0;
}
.resultado{
    background: var(--colorRes);
    width: 85%;
    height: 30%;
    text-align: right;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 5px;

    font-family: "Montserrat";
    font-size: 1.5em;
    color: white;
    border-radius: 10px 10px 3px 3px;
}
.calculos{
    background: var(--tabelatransparent);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    border-radius: 0 0 20px 20px;
    padding: 0 20px 20px 20px;
}
.juncao{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.limpar{
    background: var(--colornum);
    padding: 5px;
    margin: 5px ;
    
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5em;
    color: white;
}
.numeros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
}
.numeros > div {
    background: var(--colornum);
    padding: 5px;
    margin: 5px;
    
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5em;
    color: white;
    
}
.operadores{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
}
.operadores > div {
    background: var(--colornum);
    padding: 5px;
    margin: 5px;
    
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.5em;
    color: white;
}




@media (max-width: 800px) {
    body{
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    h1{
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-size: 1em;
        width: 100%;
    }
     main{
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 90%;
        transform: translate(-45%,-40%);
     }
     .mostrar{
         width: 90%;
     }
     .calculos{
         width: 90%;
     }
}

@media (max-height: 500px) {
    main{
        top: 250px;
    }
}